/*
0 - 600px:     Phone
600 - 900px:   Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :   Big desktop


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1 em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
}

.btn, .btn:visited, .btn:link {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  padding: 2rem 2.5rem;
}
.btn--dark {
  background-color: #004C93;
}
.btn--light {
  background-color: #1061AB;
}
.btn--lighten {
  background-color: #2B7BC6;
}
.btn__icon {
  width: 24px;
  height: 18px;
}
.btn__align {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2rem;
}

.btn-inline {
  display: inline-block;
  font-size: 1.4rem;
  color: #2B7BC6;
  text-decoration: none;
  transition: all 0.2s;
}
.btn-inline:hover, .btn-inline:active {
  transform: translateY(-1px);
}
.btn-inline:focus {
  outline: none;
}
.btn-inline--dashed {
  border-bottom: 1px dashed #2B7BC6;
}

.cta__icon {
  margin-left: 1rem;
  width: 16px;
  height: 16px;
}
.cta__phone {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  font-size: 1.6rem;
}
@media only screen and (max-width: 43.75em) {
  .cta__phone {
    justify-self: end;
  }
}
.cta__btn {
  display: inline-block;
  width: 12rem;
}
@media only screen and (max-width: 43.75em) {
  .cta__btn {
    justify-self: start;
  }
}
.cta-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13.5rem, 1fr));
  grid-column-gap: 2rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
@media only screen and (max-width: 68.75em) {
  .cta-box {
    justify-content: end;
  }
}
@media only screen and (max-width: 43.75em) {
  .cta-box {
    grid-column: 1/-1;
    justify-content: center;
  }
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
}
.search__input {
  align-self: stretch;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  display: block;
  background-color: #f2f2f2;
  padding: 2rem 2.4rem;
  margin-right: -3.25rem;
  border: none;
  width: 100%;
}
.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}
.search__input::-webkit-input-placeholder {
  color: #536067;
}
.search__input:focus ~ .search__button {
  background-color: #f0eeee;
}
.search__button {
  cursor: pointer;
  border: none;
  background-color: #f2f2f2;
  transition: all 0.2s;
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}
.search__icon {
  width: 22px;
  height: 23px;
}

.user-nav {
  background-color: #F1F8FF;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}
.user-nav__icon--user {
  width: 26px;
  height: 29px;
}
.user-nav__icon--heart {
  width: 32px;
  height: 29px;
}
.user-nav__icon--market {
  width: 35px;
  height: 29px;
}
.user-nav__icon-box {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  transition: all 0.2s;
}
.user-nav__icon-box:active {
  transform: translateY(2px);
}
.user-nav__icon-box:not(:last-child) {
  margin-right: 1.5rem;
}
.user-nav__notification-box {
  position: absolute;
  width: 50%;
  height: 50%;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
}
.user-nav__notification {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #004C93;
  font-weight: 600;
  border-radius: 100px;
  background-color: #FFD600;
}

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(auto, 16rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
  grid-template-rows: min-content min-content 20vh min-content;
}

.discount {
  grid-column: center-start/center-end;
}

.features {
  grid-column: center-start/center-end;
}

.header {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 5fr 11fr 15fr;
  grid-row-gap: 2rem;
  margin: 2rem 0;
}
@media only screen and (max-width: 68.75em) {
  .header {
    grid-template-columns: minmax(min-content, max-content) 1fr 1fr;
  }
}
@media only screen and (max-width: 43.75em) {
  .header {
    grid-template-columns: minmax(min-content, max-content) 1fr;
  }
}
@media only screen and (max-width: 31.25em) {
  .header {
    grid-template-columns: 1fr;
  }
}
.header__logo {
  max-width: 100%;
  max-height: 3.7rem;
}
.header__logo-box {
  cursor: pointer;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
  grid-column-gap: 5px;
  align-items: center;
  justify-items: start;
}
@media only screen and (max-width: 31.25em) {
  .header__logo-box {
    justify-content: center;
  }
}
.header__location {
  justify-self: center;
  align-self: center;
  display: flex;
  align-items: center;
}
.header__icon-location {
  width: 10px;
  height: 13px;
  margin-right: 1rem;
}
.header__nav {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-column-gap: 1rem;
  align-items: center;
  justify-content: end;
}
@media only screen and (max-width: 68.75em) {
  .header__nav {
    justify-content: center;
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 31.25em) {
  .header__nav {
    justify-items: center;
    grid-template-columns: auto;
  }
}

.nav {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(3, auto) 1fr auto;
  align-items: stretch;
  justify-items: start;
}

.slider {
  grid-column: center-start/center-end;
}

/*# sourceMappingURL=style.css.map */
