@import url("https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css");
/*
0 - 600px:     Phone
600 - 900px:   Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :   Big desktop


$breakpoint argument choices:
- phone (bp-small)
- tab-port (bp-medium)
- tab-land (bp-large)
- big-desktop (bp-desktop)

ORDER: Base + typography > general layout + grid > page layout > components

1 em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
}

.spacing-heading-text {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.5;
}
@media only screen and (max-width: 37.5em) {
  .spacing-heading-text {
    text-align: center;
  }
}
.spacing-heading-text--big {
  font-size: 3.6rem;
  font-weight: 700;
  word-break: break-word;
  line-height: 1.5;
}

.heading-text {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
}

.small-text {
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #fff;
}

.heading-primary {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}
.heading-primary::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #1061ab;
  transform: translateY(5px);
}

.mb-sm {
  margin-bottom: 1.5rem !important;
}

.mb-md {
  margin-bottom: 3rem !important;
}

.mb-bg {
  margin-bottom: 6rem !important;
}

.mt-sm {
  margin-top: 1.5rem !important;
}

.mt-md {
  margin-top: 3rem !important;
}

.mt-bg {
  margin-top: 6rem !important;
}

.brands {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 1.5rem;
}
.brands__img {
  display: block;
}

.btn, .btn:visited, .btn:link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  color: #fff;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  padding: 2rem 2.5rem;
}
.btn--dark {
  background-color: #004c93;
}
.btn--light {
  background-color: #1061ab;
}
.btn--lighten {
  background-color: #2b7bc6;
}
.btn--yellow {
  color: #000;
  font-weight: 500;
  border-radius: 5px;
  background-color: #ffd600;
  transition: all 0.2s;
}
.btn--yellow:hover {
  background-color: #ffde33;
}
.btn__icon {
  width: 24px;
  height: 18px;
}
.btn__align {
  display: grid;
  justify-items: start;
  align-items: center;
  grid-template-columns: min-content auto;
  grid-column-gap: 2rem;
}

.btn-inline {
  display: inline-block;
  font-size: 1.4rem;
  color: #2b7bc6;
  text-decoration: none;
  transition: all 0.2s;
}
.btn-inline:hover, .btn-inline:active {
  transform: translateY(-1px);
}
.btn-inline:focus {
  outline: none;
}
.btn-inline--dashed {
  border-bottom: 1px dashed #2B7BC6;
}

.cta__icon {
  margin-left: 1rem;
  width: 16px;
  height: 16px;
}
.cta__phone {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  font-size: 1.6rem;
}
@media only screen and (max-width: 56.25em) {
  .cta__phone {
    justify-self: end;
  }
}
.cta__btn {
  display: inline-block;
  width: 12rem;
}
@media only screen and (max-width: 56.25em) {
  .cta__btn {
    justify-self: start;
  }
}
.cta-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13.5rem, 1fr));
  grid-column-gap: 2rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
@media only screen and (max-width: 75em) {
  .cta-box {
    justify-content: end;
  }
}
@media only screen and (max-width: 56.25em) {
  .cta-box {
    grid-column: 1/-1;
    justify-content: center;
  }
}

.discount__box {
  display: grid;
  grid-auto-rows: min-content;
  grid-row-gap: 1rem;
  align-content: center;
  color: #fff;
}
.discount__box--1 {
  grid-column: 2/3;
  justify-items: start;
}
.discount__box--2 {
  grid-column: 2/3;
  justify-items: start;
}
.discount__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1/-1;
  padding: 2rem 0;
}
.discount__blue {
  background-color: #1061ab;
}
@media only screen and (max-width: 75em) {
  .discount__blue {
    grid-column: 1/2;
  }
}
@media only screen and (max-width: 56.25em) {
  .discount__blue {
    grid-column: 1/-1;
  }
}
.discount__green {
  background-color: #3bb9b8;
}
@media only screen and (max-width: 75em) {
  .discount__green {
    grid-column: 2/3;
  }
}
@media only screen and (max-width: 56.25em) {
  .discount__green {
    grid-column: 1/-1;
  }
}

.feature {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 1fr;
  grid-column-gap: 1rem;
  align-items: center;
}
.feature__icon--1 {
  width: 70px;
  height: 50px;
}
@media only screen and (max-width: 37.5em) {
  .feature__icon--1 {
    width: 53px;
    height: 38px;
  }
}
.feature__icon--2 {
  width: 56px;
  height: 66px;
}
@media only screen and (max-width: 37.5em) {
  .feature__icon--2 {
    width: 42px;
    height: 50px;
  }
}
.feature__icon--3 {
  width: 65px;
  height: 59px;
}
.feature__icon--4 {
  width: 64px;
  height: 64px;
}
.feature__icon--5 {
  width: 6rem;
  height: 6rem;
  fill: #3bb9b8;
}
.feature__text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
}

.navigation {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-row-gap: 1rem;
  justify-items: center;
}
.navigation-item:visited, .navigation-item:link {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px 1.5rem;
  text-decoration: none;
  border-radius: 4px;
  color: #2b7bc6;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.7;
  transition: all 0.2s;
}
.navigation-item:hover {
  background-color: #e7e7e7;
}
.navigation-item--active:visited, .navigation-item--active:link {
  color: #fff;
  background-color: #3bb9b8;
}

.products {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1rem;
}
.products-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto) 40px;
  grid-row-gap: 1rem;
}
.products-link {
  position: relative;
  grid-column: 1/-1;
  grid-row: 1/2;
}
.products-link:hover .products-heart-icon, .products-link:hover .products-overview {
  opacity: 1;
  visibility: visible;
}
.products-link:hover ~ .products-title {
  color: #2b7bc6;
}
.products-link:hover ~ .products-context .products-cart {
  background-color: #2b7bc6;
  color: #fff;
}
.products-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.products-hit {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: #ffd600;
  color: #000;
  letter-spacing: 0.15em;
  font-size: 1rem;
  font-weight: 500;
  padding: 3px 1rem;
  text-transform: uppercase;
  transform: translate(10px, 10px);
}
.products-discount {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: #ea1649;
  color: #fff;
  letter-spacing: 0.15em;
  font-size: 1rem;
  font-weight: 500;
  padding: 3px 1rem;
  text-transform: uppercase;
  transform: translate(10px, 10px);
}
.products-discount--ml {
  transform: translate(80%, 10px) !important;
}
.products-overview {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background-color: rgba(43, 123, 198, 0.6);
  border-radius: 4px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  word-break: keep-all;
  letter-spacing: 0.15em;
  padding: 1.2rem 0.5rem;
  transition: all 0.2s;
}
.products-heart-icon {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 33px;
  height: 30px;
  transform: scale(0.65) translate(-10px, 5px);
  transition: all 0.2s;
}
.products-heart-icon:hover {
  fill: #2b7bc6;
}
.products-stars {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
}
.products-star {
  width: 14px;
  height: 13px;
}
.products-star:not(:last-child) {
  margin-right: 3px;
}
.products-comments {
  margin-left: 5px;
  width: 13px;
  height: 13px;
}
.products-comments-count {
  margin-left: 3px;
  font-size: 1.2rem;
  font-weight: 500;
}
.products-comments-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}
.products-comments-link:hover .products-comments-count {
  color: #2b7bc6;
}
.products-title {
  grid-column: 1/-1;
  font-size: 1.4rem;
  font-weight: 500;
  word-break: break-all;
  width: 90%;
  transition: all 0.2s;
  user-select: none;
  -webkit-user-select: none;
}
.products-country {
  margin-top: 3rem;
  grid-column: 1/-1;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7;
}
.products-context {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 1rem;
  align-items: center;
}
.products-cost {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
}
@media only screen and (max-width: 75em) {
  .products-cost {
    font-size: 2rem;
  }
}
.products-cost--discount {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 0.15em;
  text-decoration: line-through;
  color: #ea1649;
}
@media only screen and (max-width: 75em) {
  .products-cost--discount {
    font-size: 1.4rem;
  }
}
.products-cart {
  justify-self: center;
  display: flex;
  justify-content: center;
  border: 1px solid currentColor;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #2b7bc6;
  line-height: 3.5;
  transition: all 0.2s;
  width: 95%;
}
.products-cart:hover {
  background-color: #2b7bc6;
  color: #fff;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
}
.search__input {
  align-self: stretch;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  display: block;
  background-color: #f2f2f2;
  padding: 2rem 2.4rem;
  margin-right: -3.25rem;
  border: none;
  width: 100%;
}
.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}
.search__input::-webkit-input-placeholder {
  color: #536067;
}
.search__input:focus ~ .search__button {
  background-color: #f0eeee;
}
.search__button {
  cursor: pointer;
  border: none;
  background-color: #f2f2f2;
  transition: all 0.2s;
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}
.search__icon {
  width: 22px;
  height: 23px;
}

.slider__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
}
@media only screen and (max-width: 37.5em) {
  .slider__container {
    grid-template-columns: auto;
    justify-content: center;
  }
}
.slider__box {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 4rem;
}
@media only screen and (max-width: 37.5em) {
  .slider__box {
    grid-column: 1/-1;
    margin: 0;
    align-items: center;
    padding: 0 1rem;
  }
}
.slider__text--1 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.slider__text--2 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.slider__btn {
  grid-column: 2/3;
  grid-row: 3/4;
}

.tiles__item {
  position: relative;
}
.tiles__item--1 {
  grid-column: 1/4;
  grid-row: 1/3;
}
@media only screen and (max-width: 37.5em) {
  .tiles__item--1 {
    grid-column: 1/-1;
  }
}
.tiles__item--2 {
  grid-column: 4/6;
  grid-row: 1/2;
}
@media only screen and (max-width: 75em) {
  .tiles__item--2 {
    grid-column: 4/7;
  }
}
@media only screen and (max-width: 56.25em) {
  .tiles__item--2 {
    grid-row: 1/3;
  }
}
@media only screen and (max-width: 37.5em) {
  .tiles__item--2 {
    grid-column: 1/-1;
    grid-row: 3/5;
  }
}
.tiles__item--3 {
  grid-column: 6/-1;
  grid-row: 1/2;
}
@media only screen and (max-width: 75em) {
  .tiles__item--3 {
    grid-column: 4/7;
    grid-row: 2/3;
  }
}
@media only screen and (max-width: 56.25em) {
  .tiles__item--3 {
    grid-column: 1/4;
    grid-row: 3/4;
  }
}
@media only screen and (max-width: 37.5em) {
  .tiles__item--3 {
    grid-column: 1/-1;
    grid-row: 5/7;
  }
}
.tiles__item--4 {
  grid-column: 4/5;
  grid-row: 2/3;
}
@media only screen and (max-width: 75em) {
  .tiles__item--4 {
    grid-column: 1/4;
    grid-row: 3/4;
  }
}
@media only screen and (max-width: 56.25em) {
  .tiles__item--4 {
    grid-column: 4/-1;
  }
}
@media only screen and (max-width: 37.5em) {
  .tiles__item--4 {
    grid-column: 1/-1;
    grid-row: 7/9;
  }
}
.tiles__item--5 {
  grid-column: 5/-1;
  grid-row: 2/3;
}
@media only screen and (max-width: 75em) {
  .tiles__item--5 {
    grid-column: 4/-1;
    grid-row: 3/4;
  }
}
@media only screen and (max-width: 56.25em) {
  .tiles__item--5 {
    grid-column: 1/-1;
    grid-row: 4/5;
  }
}
@media only screen and (max-width: 37.5em) {
  .tiles__item--5 {
    grid-column: 1/-1;
    grid-row: 9/11;
  }
}
.tiles__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tiles__grid {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 20vw);
  grid-gap: 2rem;
}
@media only screen and (max-width: 75em) {
  .tiles__grid {
    grid-template-rows: repeat(3, 18vw);
  }
}
@media only screen and (max-width: 56.25em) {
  .tiles__grid {
    grid-template-rows: repeat(4, 20vw);
  }
}
@media only screen and (max-width: 37.5em) {
  .tiles__grid {
    grid-template-rows: repeat(10, 20vw);
  }
}
@media only screen and (min-width: 112.5em) {
  .tiles__grid {
    grid-template-rows: repeat(2, 14vw);
  }
}
.tiles__caption--1 {
  position: absolute;
  bottom: 4rem;
  left: 0;
  z-index: 2;
  padding: 1.2rem 1.8rem;
  background-color: rgba(59, 185, 184, 0.8);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
}
.tiles__caption--2 {
  position: absolute;
  bottom: 1rem;
  left: 0;
  z-index: 2;
  padding: 0 2rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.7;
}

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: min-content min-content 55vh min-content;
}
@media only screen and (min-width: 112.5em) {
  .container {
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 16rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    grid-template-rows: min-content min-content 50vh min-content;
  }
}

.header {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 5fr 11fr 15fr;
  grid-row-gap: 2rem;
  margin: 1.5rem 0;
}
@media only screen and (max-width: 75em) {
  .header {
    grid-template-columns: minmax(min-content, max-content) 1fr 1fr;
  }
}
@media only screen and (max-width: 56.25em) {
  .header {
    grid-column: 1/-1;
    grid-template-columns: minmax(min-content, max-content) 1fr;
  }
}
@media only screen and (max-width: 37.5em) {
  .header {
    grid-template-columns: 1fr;
  }
}
.header__logo {
  max-width: 100%;
  max-height: 3.7rem;
}
.header__logo-box {
  cursor: pointer;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
  grid-column-gap: 5px;
  align-items: center;
  justify-items: start;
}
@media only screen and (max-width: 56.25em) {
  .header__logo-box {
    margin-left: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__logo-box {
    justify-content: center;
  }
}
.header__location {
  justify-self: center;
  align-self: center;
  display: flex;
  align-items: center;
}
.header__icon-location {
  width: 10px;
  height: 13px;
  margin-right: 1rem;
}
.header__nav {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-column-gap: 1rem;
  align-items: center;
  justify-content: end;
}
@media only screen and (max-width: 75em) {
  .header__nav {
    justify-content: center;
    grid-column: 1/-1;
  }
}

.nav {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(3, auto) 1fr auto;
  align-items: stretch;
  justify-items: start;
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 75em) {
  .nav {
    grid-template-columns: 2fr 1fr 1fr auto;
    margin-bottom: 0 !important;
  }
}
@media only screen and (max-width: 56.25em) {
  .nav {
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav {
    grid-column: full-start/full-end;
    grid-template-columns: 1fr 1fr min-content;
  }
}
.nav__button--1 {
  width: 100%;
}
.nav__button--2 {
  width: 100%;
}
.nav__button--3 {
  width: 100%;
}
@media only screen and (max-width: 75em) {
  .nav__search {
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 56.25em) {
  .nav__search {
    grid-column: 1/3;
  }
}
@media only screen and (max-width: 75em) {
  .nav__navigation {
    grid-column: 4/-1;
    grid-row: 1/2;
    margin-left: auto;
  }
}
@media only screen and (max-width: 56.25em) {
  .nav__navigation {
    grid-column: 3/-1;
    grid-row: 2/3;
    width: 100%;
    justify-content: end;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav__navigation .user-nav__icon-box {
    transform: scale(0.8);
    margin: 0;
  }
}

.user-nav {
  background-color: #f1f8ff;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}
.user-nav__icon--user {
  width: 26px;
  height: 29px;
}
.user-nav__icon--heart {
  width: 32px;
  height: 29px;
}
.user-nav__icon--market {
  width: 35px;
  height: 29px;
}
.user-nav__icon-box {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  transition: all 0.2s;
}
.user-nav__icon-box:active {
  transform: translateY(2px);
}
.user-nav__icon-box:not(:last-child) {
  margin-right: 1.5rem;
}
.user-nav__notification-box {
  position: absolute;
  width: 50%;
  height: 50%;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
}
.user-nav__notification {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #004c93;
  font-weight: 600;
  border-radius: 100px;
  background-color: #ffd600;
}

.discount {
  grid-column: col-start 6/center-end;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
@media only screen and (max-width: 75em) {
  .discount {
    grid-column: center-start/center-end;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
@media only screen and (max-width: 56.25em) {
  .discount {
    grid-column: 1/-1;
  }
}

.section-features {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 3rem;
  margin: 6rem 0;
}

.section-tiles {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-row-gap: 4rem;
  margin-bottom: 3rem;
}

.section-goods {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-row-gap: 4rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .section-goods {
    margin-bottom: 0;
  }
}
.section-goods__background {
  background-color: #eaf4ff;
  grid-column: 1/-1;
  padding: 5rem 0 4rem 0;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media only screen and (max-width: 56.25em) {
  .section-goods__background {
    padding: 3.5rem 0 2rem 0;
  }
}

.section-brands {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-row-gap: 4rem;
  margin-bottom: 3rem;
}

.banner {
  grid-column: center-start/center-end;
  background-color: #2b7bc6;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 5rem 0;
  margin: 3rem 0;
}

.tns-outer {
  grid-column: col-start 1/col-end 5;
  position: relative;
  background-color: #004c93;
  color: #fff;
  display: grid;
  align-content: center;
}
@media only screen and (max-width: 75em) {
  .tns-outer {
    grid-column: center-start/center-end;
  }
}
@media only screen and (max-width: 56.25em) {
  .tns-outer {
    grid-column: 1/-1;
  }
}
.tns-controls {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #004c93;
}
.tns-nav {
  position: absolute;
  right: 0;
  bottom: 2rem;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
}
.tns-nav button {
  display: inline-block;
  border-radius: 100px;
  border: 0;
  width: 10px;
  height: 10px;
}
.tns-nav button:not(:last-child) {
  margin-right: 2rem;
}
.tns__arrow {
  display: block;
  padding: 0 1rem;
  border: 0;
  z-index: 15;
  background-color: transparent;
}
@media only screen and (max-width: 37.5em) {
  .tns__arrow {
    padding: 0;
  }
}
.tns__arrow-icon {
  display: block;
  width: 21px;
  height: 36px;
  background-color: #004c93;
}

[data-action=start] {
  display: none;
}

[data-action=stop] {
  display: none;
}

/*# sourceMappingURL=style.css.map */
