.footer {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45.5rem, 1fr));
    grid-column-gap: 10rem;
    grid-row-gap: 4rem;

    margin: 3rem 0;

    &__links {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-column-gap: 6rem;
        justify-items: start;

        &>div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .btn-inline {
                &:not(:last-child) {
                    margin-bottom: 1.5rem;
                }
            }
        }

        @include respond(bp-medium) {
            & > :first-child {
                & > * {
                    align-self: end;
                }
            }

            & > :nth-child(1) {
                justify-self: end;
            }
        }

    }

    &__info {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-column-gap: 6rem;
        align-items: start;
        justify-items: start;

        font-size: 1.4rem;

        &> :first-child {
            display: grid;
            grid-row-gap: 1.5rem;
            justify-items: end;

            @include respond(bp-medium) {
                justify-self: end;
            }
        }
    }

    &__text {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.875em;
    }

    &__btn {
        width: auto;
        padding: .5rem 1rem;

        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5em;
    }

    &__phone {
        font-weight: 600;
    }

    &__socials {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 3rem;
    }

    &__yandex {
        position: relative;
        top: -50%;
    }

    &__link {

        &,
        &:visited,
        &:link {
            display: inline-block;
            text-decoration: none;
        }

        &:hover {
            transform: translateY(-.5rem);
            box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        }

        &:active {
            transform: translateY(-1rem);
            box-shadow: 0 1rem 3rem rgba($color-black, .15);
        }
    }

    &__icon {
        display: inline-block;

        &--1 {
            width: 2.8rem;
            height: 2.8rem;
        }

        &--2 {
            width: 2.8rem;
            height: 2.8rem;
        }

        &--3 {
            width: 3.3rem;
            height: 2.8rem;
        }

        &--4 {
            width: 16rem;
            height: 12rem;

            @include respond(bp-medium) {
                width: 70%;
                height: 70%;
            }
        }
    }

    &__copyrights {
        grid-column: 1 / -1;
        background-color: $color-background-4;

        display: grid;
        grid-row-gap: 1rem;
        @include container;
        padding: 5rem 0;

        &-text {
            grid-column: center-start / center-end;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.5em;
            color: $color-grey-light-9;

            &--blue {
                color: $color-blue-light-1;
            }
        }
    }
}