.header {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));


    &__logo {
        max-width: 100%;
        max-height: 3.7rem;

        &-box {
            display: grid;
            grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
            grid-column-gap: 5px;
            align-items: center;
            justify-items: start;
        }
    }


    &__location {
        justify-self: center;
        align-self: center;

        &__icon-location {
            
        }
    }

    &__nav {
        display: grid;
        grid-template-columns: repeat(5, min-content max-content);        
        grid-column-gap: 1rem;
        align-items: center;
    }
}