.header {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: minmax(min-content, max-content) 11rem 9fr 17fr;


    &__logo {
        max-width: 100%;
        max-height: 3.7rem;

        &-box {
            display: grid;
            grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
            grid-column-gap: 5px;
            align-items: center;
            justify-items: start;
        }
    }

    // https://css-tricks.com/a-guide-to-the-responsive-images-syntax-in-html/#automated-responsive-images


    &__location {
        justify-self: center;
        align-self: center;

        &__icon-location {
            
        }
    }

    &__nav {
        display: grid;
        grid-template-columns: repeat(5, min-content);        
        grid-column-gap: 1rem;
        align-items: center;
        justify-content: end;
    }
}