.nav {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content)) 1fr minmax(min-content, max-content);
    align-items: start;
    justify-items: start;
}