.tns {
    &-outer {
        grid-column: col-start 1 / col-end 5;

        position: relative;
        background-color: $color-blue-dark-2;
        color: $color-white;
        
        display: grid;
        align-content: center;
    }

    &-controls {
        position: absolute;
        top: 50%;
        z-index: 15;

        display: flex;
        justify-content: space-between;
        
        width: 100%;
    }

    &-nav {
        position: absolute;
        right: 0;
        bottom: 2rem;
        left: 0;
        z-index: 15;
        
        display: flex;
        justify-content: center;
        
        margin-right: 15%;
        margin-left: 15%;

        button {
            display: inline-block;
            border-radius: 100px;
            border: 0;
            width: 10px;
            height: 10px;

            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }

    &__arrow{
        border: 0;
    }
}






[data-action="start"] {
    display: none;
}

[data-action="stop"] {
    display: none;
}

.slider {
    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        justify-items: start;
        grid-row-gap: 1rem;
        width: 90%;
        margin: 0 auto;
    }
    
    &__text--1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    &__text--2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    &__btn {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    // don't forget to get the right margin to this elements, probably get the styles from nexter project
}