.banner {
    &--1 {
        grid-column: center-start / center-end;
        background-color: $color-blue-light-1;
        color: $color-white;
        font-size: 1.6rem;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.15em;

        padding: 5rem 0;
        margin: 3rem 0;
    }

    &--2 {
        flex: 0 0 20%;
        align-self: flex-start;
        display: flex;
        align-items: center;
        justify-content: center;

        height: 380px;

        background-color: $color-yellow;
        color: $color-blue-dark-2;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1.875em;
    }
}