.brands {
    grid-column: 1 / -1;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 1.5rem;



    &__img {
        display: block;
    }
}