.cta {

    &__icon {
        margin-left: 1rem;
        width: 16px;
        height: 16px;
    }

    &__phone {
        display: grid;
        grid-template-columns: max-content max-content;
        align-items: center;
        font-size: 1.6rem;

        @include respond(bp-small) {
            justify-self: end;
        }
    }

    &__btn {
        display: inline-block;
        width: 12rem;

        @include respond(bp-small) {
            justify-self: start;
        }
    }

    &-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(13.5rem, 1fr));
        grid-column-gap: 2rem;
        align-items: center;
        justify-items: center;
        justify-content: center;

        @include respond(bp-large) {
            grid-template-columns: repeat(auto-fit, minmax(18.5rem, 1fr));
            justify-items: center;
        }

        @include respond(bp-medium) {
            grid-template-columns: repeat(auto-fit, minmax(13.5rem, 1fr));
            grid-column: 3 / span 1;
        }

        @include respond(bp-small) {
            grid-column: 1 / -1;
        }
    }
}