.discount {
    &__box {
        display: grid;
        grid-auto-rows: min-content;
        grid-row-gap: 1rem;

        align-content: center;

        color: $color-white;

        &--1 {
            grid-column: 2 / 3;
            justify-items: start;
        }

        &--2 {
            grid-column: 2 / 3;
            justify-items: start;
        }
    }


    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: 1 / -1;

        padding: 2rem 0;
    }

    &__blue {
        background-color: $color-blue-dark-1;

        @include respond(bp-large) {
            grid-column: 1 / 2;
        }

        @include respond(bp-medium) {
            grid-column: 1 / -1;
        }
    }

    &__green {
        background-color: $color-green-blue;

        @include respond(bp-large) {
            grid-column: 2 / 3;
        }

        @include respond(bp-medium) {
            grid-column: 1 / -1;
        }
    }

}