.search {


    &__input {
        display: block;
        border: 0;
        background-color: $color-grey-light-1;

        height: 100%;
        width: 100%;

        &:focus {
            outline: none;
        }
    }
    

    // иконка для формы
    // placeholder Сделать
}