.mb-sm {
    margin-bottom: 1.5rem !important;
}

.mb-md {
    margin-bottom: 3rem !important;
}

.mb-bg {
    margin-bottom: 6rem !important;
}

.mt-sm {
    margin-top: 1.5rem !important;
}

.mt-md {
    margin-top: 3rem !important;
}

.mt-bg {
    margin-top: 6rem !important;
}