.discount {
    grid-column: col-start 6 / center-end;

    display: grid;
    grid-template-rows: repeat(2, 1fr);

    @include respond(bp-large) {
        grid-column: center-start / center-end;

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    @include respond(bp-medium) {
        grid-column: 1 / -1;
    }
}

.section-features {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 3rem;

    padding: 6rem 0;
}

.section-tiles {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-row-gap: 4rem;

    padding-bottom: 3rem;
}

.section-goods {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-row-gap: 4rem;

    padding-bottom: 3rem;

    @include respond(bp-medium) {
        padding-bottom: 0;
    }

    &__background {
        @include container;
        background-color: $color-background-3;
        grid-column: 1 / -1;
        padding: 5rem 0 4rem 0;

        display: grid;


        @include respond(bp-medium) {
            padding: 3.5rem 0 2rem 0;
        }

    }
}

.section-brands {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-row-gap: 4rem;

    padding-bottom: 3rem;
}

.section-articles {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-row-gap: 4rem;

    padding-bottom: 3rem;
}

.section-seo {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 4.5rem repeat(2, 1fr) 4.5rem;

    padding: 3rem 0;

    &--img {
        grid-column: 1 / 5;
        grid-row: 1 / 4;
        z-index: 10;
    }

    &--heading-text {
        justify-self: center;
        align-self: end;
        grid-column: 5 / -1;
        grid-row: 1 / 2;
    }

    &--background {
        grid-column: 3 / -1;
        grid-row: 2 / -1;
    }
}

// SLIDER

.tns {
    &-outer {
        grid-column: col-start 1 / col-end 5;

        position: relative;
        background-color: $color-blue-dark-2;
        color: $color-white;

        display: grid;
        align-content: center;

        @include respond(bp-large) {
            grid-column: center-start / center-end;
        }

        @include respond(bp-medium) {
            grid-column: 1 / -1;
        }
    }

    &-controls {
        position: absolute;

        height: 100%;
        width: 100%;

        display: flex;
        justify-content: space-between;
        background-color: $color-blue-dark-2;
    }

    &-nav {
        position: absolute;
        right: 0;
        bottom: 2rem;
        left: 0;
        z-index: 15;

        display: flex;
        justify-content: center;

        margin-right: 15%;
        margin-left: 15%;

        button {
            display: inline-block;
            border-radius: 100px;
            border: 0;
            width: 10px;
            height: 10px;

            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }

    &__arrow {
        display: block;
        padding: 0 1rem;
        border: 0;

        z-index: 15;

        // background-color: red;
        background-color: transparent;

        @include respond(bp-small) {
            padding: 0;
        }

        &-icon {
            display: block;
            width: 21px;
            height: 36px;
            background-color: $color-blue-dark-2;
        }
    }
}

[data-action="start"] {
    display: none;
}

[data-action="stop"] {
    display: none;
}