.product {
    grid-column: center-start / center-end;

    display: grid;
    grid-row-gap: 2rem;

    padding: 2.5rem 3rem;

    @include respond(bp-large) {
        padding: 2rem 2.5rem;
    }

    @include respond(bp-medium) {
        grid-column: full-start / full-end;
        padding: 1rem 1.5rem;
    }

    @include respond(bp-small) {
        padding: .5rem 1rem;   
    }
}